.menu {
    background-color: #7952b3;
}

.link {
    color: #ffe484;
    margin: 0.5rem;
}
  
.link:hover{
    color: blueviolet;
    text-decoration: none;
}

#basic-nav-dropdown{
    color: #ffe484;
}

.linkDrop {
    color: blueviolet;
    margin: 0.5rem;
}

.linkDrop:hover{
    color: blueviolet;
    text-decoration: none;
    background-color: #ffe484
}
