.addButton {
  background-color: #7952b3 !important;
  border: 0.5rem solid #7952b3 !important;
  color: #ffe484 !important;
}

.addButton:hover{
  background-color: blueviolet !important;
  border: 0.5rem solid blueviolet !important;
}

